:root{

  --side-nav-width:15vw;
}

@keyframes show{
  from{ 
    left:-400px;
    /*display:none;*/
    /*width:0;*/
  }
  to{
    left:0;
    /*display:block;
    width:var(--side-nav-width);*/
  }

}

/* 
it's a convention I came up with:
if you're making a counter animation
you should name it de[fuckall]
*/
@keyframes deshow{

  from{
    background-color: black;
    left:0;
  }

  to{
    left:-400px;
  }
}

.side-nav{
  z-index: 1000;
}

.side-nav-active{
  
  position:absolute;
  left:0;

  display:block;
  width:var(--side-nav-width);
  
  animation:show;
  animation-duration: 0.5s;
  
  color:white; 
  background-color: rgba(0,0,0,0.8);
  height:90.5%;
  
}

.side-nav-deactive{

  animation:deshow;
  animation-duration: 1s;

  position:absolute;
  left:-400px;
  
}


.side-nav-ul{
  margin:0;
  padding:1.5vw;
  margin-left:3vw;
}

.side-nav-li{
  margin-top:10vh;
  list-style-type: none;
  font-size:1.6vw;
  flex:1;
}

.side-nav-li a{
  text-decoration: none;
  color:inherit;
}

.side-elem>a{
  color:inherit;
  padding:0.7vw;
}

.side-elem-active>a,.side-elem>a:hover{
  color:orangered;

}