:root{

  --side-nav-width:15vw;
}

@keyframes show{
  from{ 
    
    display:none;
    width:0;
  }
  to{
    display:block;
    width:var(--side-nav-width);
  }

}

/* 
it's a convention I came up with:
if you're making a counter animation
you should name it de[fuckall]
*/
@keyframes deshow{
  from{
    display: block;
    width:var(--side-nav-width);
  }
  to{
    width:0;
    display:none;
  }
}

.side-nav{
  display:none;
  position:absolute;
  z-index: 1000;

  animation:deshow;
  animation-duration: 0.5s;
  
}

.side-nav-pre-deactive{

  display:block;
  width:var(--side-nav-width);
}

.side-nav-deactive{

  width:0;
  display:none;

  animation:deshow;
  animation-duration: 0.5s;

}

.side-nav-active{
  
  display:block;
  width:var(--side-nav-width);
  
  animation:show;
  animation-duration: 0.5s;
  
  color:white; 
  background-color: rgba(0,0,0,0.8);
  height:92%;
  
}

.side-nav-ul{
  margin:0;
  padding:1.5vw;
  margin-left:3vw;
}

.side-nav-li{
  margin-top:10vh;
  list-style-type: none;
  font-size:1.6vw;
  flex:1;
}

.side-nav-li a{
  text-decoration: none;
  color:inherit;
}

.side-elem>a{
  color:inherit;
  padding:0.7vw;
}

.side-elem-active>a,.side-elem>a:hover{
  color:orangered;

}